.container {
    height: 100vh;
    background: linear-gradient(118deg, rgba(139, 195, 170, 1) 0%, rgba(129, 210, 244, 1) 36%, rgba(88, 221, 244, 1) 70%, rgba(139, 195, 170, 1) 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 5s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.SearchFormContainer {
    width: 50vw;
    min-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    border: none;
    width: fit-content;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}
.search {
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.103);
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}
.search button{
    background-color: rgba(255, 255, 255, 0.185);
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: none;
}

.search button:hover{
    transition-duration: .1s;
    background-color: rgba(29, 29, 29, 0.253);
}

.search input {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 600;
}
.search input::placeholder{
    color: rgb(29, 29, 29);
}
.search input:focus {
    outline: none;
}
.dropdown{
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 97%;
}
.dropdownItem{
    border-bottom: 1px solid rgb(202, 202, 202);
    font-size: 20px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}
.dropdownItem:hover{
    background-color: rgba(255, 255, 255, 0.918);
}

.eventFormBlur{
    filter: blur(5px);
}