.form {
    display: flex;
}

.eventname {
    font-size: 40px;
    background: none;
    border: none;
    font-weight: 700;
    /* color: rgb(29, 29, 29); */
    color: white;
}
.eventname::placeholder{
    color: rgba(255, 255, 255, 0.562);
}
.eventname:focus {
    outline: none;
}

.dateContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.dateContainer .heading {
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.dateContainer .disabled{
    color: var(--disabled-color);
}

.dateContainer .input {
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dateIconContainer {
    display: flex;
    align-items: center;
}

.locationContainer {
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.locationContainer input {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background: none;
}

.locationContainer input::placeholder {
    color: rgb(29, 29, 29);
}

.locationContainer input:focus {
    outline: none;
}

.descContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
.descContainer .headingContainer{
    width: 90%;
}
.descContainer .descHeading {
    font-weight: bold;
    font-size: 20px;
    color: rgb(29, 29, 29);
    margin-left: 10px;
}
.descContainer .disabled{
    color: var(--disabled-color);
}
.descContainer input {
    width: 100%;
    font-size: 16px;
    color: black;
    margin-left: 10px;
    background: none;
    border: none;
}

.modal {
    top: 0%;
    left: 0%;
    position: absolute;
    height: 0;
    transition: height .2s ease-in-out;
    overflow: hidden;  
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalOpen{
    height: 100vh;
}
.imageContainer {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

/* .imageContainer .promptInput {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
} */

.imageContainer .btns {
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.imageContainer .btns label {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.301);
    border: none;
    width:40%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.imageContainer .btns input{
    display: none;
}
.imageContainer .imageHolder {
    margin-top: 20px;
    position: relative;
    width: 400px;
    height: 300px;
}

.imageContainer .imageHolder .loader {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer .imageHolder .loader div {
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid #FF7A59;
    width: 30px;
    height: 30px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.imageContainer .imageHolder img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.imageContainer .imageHolder .imageLocation {
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.616);
    padding: 0px 10px;
    border-radius: 10px;

}

.imageContainer .imageHolder .logo {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.678);
}

.submitBtn {
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(29, 29, 29);
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

@media (max-width: 1035px) {
    .form {
        flex-direction: column;
        align-items: center;
    }

    .imageContainer {
        margin-top: 40px;
    }

    .imageContainer .imageHolder {
        width: 80%;
        height: 40%;
    }

    .leftform {
        width: 80%;
    }
}
.disabled{
    color: var(--disabled-color);
}