.container {
    width: 100%;
}

.form {
    display: flex;
}

.leftform {
    width: 60%;
}

.eventname {
    font-size: 40px;
    background: none;
    border: none;
    font-weight: 800;
    color: rgb(29, 29, 29);
}

.eventname:focus {
    outline: none;
}

.dateContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.dateContainer .heading {
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.dateContainer .input {
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dateIconContainer {
    display: flex;
    align-items: center;
}

.locationContainer {
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.locationContainer input {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background: none;
}

.locationContainer input::placeholder {
    color: rgb(29, 29, 29);
}

.locationContainer input:focus {
    outline: none;
}

.descContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.descContainer input {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background: none;
}

.descContainer input::placeholder {
    color: rgb(29, 29, 29);
}

.descContainer input:focus {
    outline: none;
}

.descContainer .heading {
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.imageContainer {
    width: 40%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.imageContainer label {
    font-size: 20px;
    font-weight: 600;
    color: rgb(29, 29, 29);
}

.imageContainer .promptInput {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.imageContainer .btns {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.imageContainer .btns button {
    cursor: pointer;
    background-color: rgb(29, 29, 29);
    border: none;
    width: fit-content;
    border-radius: 40px;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.imageContainer .btns input {
    width: 50%;
}

.imageContainer .btns input::file-selector-button {
    cursor: pointer;
    background-color: rgb(29, 29, 29);
    border: none;
    width: fit-content;
    border-radius: 40px;
    padding: 10px;
    color: white;
    font-size: 16px;
}
.imageContainer .imageHolder{
    margin-top: 20px;
    position: relative;
    width: 400px;
    height: 300px;
}
.imageContainer .imageHolder .loader {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer .imageHolder .loader div {
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid #FF7A59;
    width: 30px;
    height: 30px;
    animation: spinner 2s linear infinite;
}
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.imageContainer .imageHolder img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.imageContainer .imageHolder .imageLocation{
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.616);
    padding: 0px 10px;
    border-radius: 10px;

}
.submitBtn {
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(29, 29, 29);
    border: none;
    width: 100%;
    border-radius: 40px;
    padding: 10px;
    color: white;
    font-size: 20px;
}