.form{
    display: flex;
}
.leftForm{
    width: 50%;
}
.eventname{
    font-size: 40px;
    background: none;
    border: none;
    font-weight: 800;
    color: rgb(29,29,29);
}
.eventname:focus{
    outline: none;
}
.dateContainer{
    display: flex;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    justify-content: space-between;
}
.dateContainer .heading{
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.dateContainer .input{
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dateIconContainer{
    display: flex;
    align-items: center;
}
.locationContainer{
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.locationContainer input{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background: none;
}
.locationContainer input::placeholder{
    color: rgb(29, 29, 29);
}
.locationContainer input:focus{
    outline: none;
}
.descContainer{
    display: flex;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
.descContainer:hover{
    transition-duration: .2s;
    background-color: rgba(255, 255, 255, 0.411);
}
.descContainer .heading{
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.imageContainer{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.imageContainer label{
    font-size: 20px;
    font-weight: 600;
    color: rgb(29, 29, 29);
}
.imageContainer input{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.imageContainer button{
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(29,29,29);
    border: none;
    width: 100%;
    border-radius: 40px;
    padding: 10px;
    color: white;
    font-size: 16px;
}
.imageContainer img{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.submitBtn{
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(29,29,29);
    border: none;
    width: 100%;
    border-radius: 40px;
    padding: 10px;
    color: white;
    font-size: 20px;
}
