.container {
    display: flex;
    position: relative;
    justify-content: center;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 20px;
    height: 500px;
    background-color: white;
}
.containerDark{
    background-color: rgb(24, 24, 24);
}
.themeIcon{
    position: absolute;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
}
.themeIcon:hover{
    transition-duration: .2s;
    filter: drop-shadow(1px 1px 1px black);
}
.calendarBtns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendarBtns button{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dayname {
    font-size: 16px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.daynameDark{
    color: white;
}
.calendardatebox {
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 60px;
}
.todaysDateLight div{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.todaysDateDark{
    color: white;
    font-weight: bold;
}
.scheduledDate div{
    text-align: center;
    padding: 10px;
    width: 20px;
    cursor: pointer;
    color: rgb(74, 74, 255);
    border-radius: 4px;
    font-weight: bold;
    background-color: rgb(225, 225, 255);
}
.scheduledDate div:hover{
    transition-duration: .3s;
    border: 1px solid rgb(74, 74, 255);
    background:none;
}
.timeSlotsContainer{
    margin-left: 20px;
}
.timeSlots{
    display: flex;
}
.timeSlot{
    border: 1px solid rgb(74, 74, 255);
    color: rgb(74, 74, 255);
    border-radius: 3px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.timeSlot:hover{
    cursor: pointer;
    transition-duration: .3s;
    border: none;
    background-color: rgb(74, 74, 255);
    color: white;
}
.selectedTimeSlot{
    border: none;
    background-color: rgb(74, 74, 255);
    color: white;
}
.submit{   
    background-color: rgb(225, 225, 255);
    color: rgb(74, 74, 255);
    border: none;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 10px;
    /* visibility: hidden; */
    border-radius: 5px;
    cursor: pointer;
}
.submit:hover{
    background-color:rgb(74, 74, 255) ;
    color: white;
}
.emptyday {
    visibility: hidden;
}