.container{
    margin: 10px;
}

.resultContainer{
    display: flex;
    justify-content: space-evenly;
}
.imgContainer{
    border: 1px solid black;
    border-radius: 10px;
    width: 800px;
    height: 400px;
    margin-top: 20px;
}
.image{
    border-radius: 10px;
    width: 800px;
    height: 400px;
}
.palette{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}