.container {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    padding: 50px;
    border-radius: 10px;
}

.ariaCalendar {
    max-width: 100%;
    color: black;
    height: 300px;
}

.ariaCalendar header {
    display: flex;
    align-items: center;
    margin: 0 4px .5rem 4px;
}

.ariaCalendar .ariaHeading {
    flex: 1;
    margin: 0;
    text-align: center;
    font-size: 1.375rem;
}

.ariaCalendar .ariaBtn {
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.ariaCalendar .ariaCell {
    width: 3rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 6px;
    cursor: default;
    outline: none;
    margin: 1px;
    forced-color-adjust: none;
}

.ariaCalendar.ariaCell[data-outside-month] {
    display: none;
}

.ariaCalendar .ariaCell[data-pressed] {
    background: rgb(96, 63, 240);
}

.ariaCalendar .ariaCell[data-focus-visible] {
    outline: 2px solid rgb(96, 63, 240);
    outline-offset: 2px;
}

.ariaCalendar .ariaCell[data-selected] {
    background: rgb(96, 63, 240);
    color: white
}
.timeSlots{
    margin-left: 30px;
}
.timeSlots h1{
    font-size: 25px;
    color: rgb(96, 63, 240);
    font-weight: 700;
}
.timeSlots .time{
    font-size: 15px;
    border: 1px solid rgb(96, 63, 240);
    border-radius: 5px;
    padding: 10px 60px;
    margin: 10px;
    cursor: pointer;
}
.timeSlots .time:hover{
    transition-duration: .3s;
    background-color: rgb(96, 63, 240);
    color: white;
}
.timeSlots .selectedTime{
    background-color: rgb(96, 63, 240);
    color: white;
}
.timeSlots .nextBtn{
    background-color: silver;
    width: fit-content;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    
}
.timeSlots .cancelBtn{
    background-color: transparent;
    border: 1px solid silver;
    width: fit-content;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
    color: grey;
}
.ist{
    display: flex;
    margin-top: 10px;
}