.navContainer {
    height: fit-content;
    overflow-x: scroll;
    width: 100vw;
    background: linear-gradient(118deg, rgba(36, 36, 36, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.cardNavStyle {
    column-gap: 30px;
    display: flex;
    margin: 30px;
}

.sideContainer {
    width: fit-content;
    height: 100vh;
    overflow-y: scroll;
    background: linear-gradient(118deg, rgba(36, 36, 36, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.cardSideStyle {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 30px;
}

.gridContainer {
    padding: 50px;
    background: linear-gradient(118deg, rgba(36, 36, 36, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.cardGridStyle {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 30px;
}



.blur {
    overflow: hidden;
    filter: blur(3px);
}

.heading {
    font-size: 35px;
    color: white;
    font-weight: 900;
}


.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}