.container{
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    border-radius: 10px;
    padding: 30px;
}
.containerDark{
    background-color: rgb(24, 24, 24);
}
.backBtn{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    top: 3%;
    left: 2%;
    cursor: pointer;
    position: absolute;
}
.details{
    margin-top: 30px;
}
.img{
    margin-top: 30px;
}
.content{
    width: 30vw;
}
.date{
    font-size: 20px;
    background-color:rgb(253, 219, 109) ;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 30px;
}
.eventName{
    font-size: 50px;
    color: rgb(96, 63, 240);
    margin-top: 20px;
    font-weight: 800;
}
.location{
    margin-top: 20px;
    font-size: 20px;
}
.locationDark{
    color: white;
}
.desc{
    margin-top: 10px;
}
.descDark{
    color: white;
}
.formHeading{
    margin-top: 50px;
    font-size: 40px;   
    color: rgb(96, 63, 240);
}
.form{
    margin-top: 20px;
}
.darkForm div{
    color: white;
}
.input{
    margin-top: 10px;
    border: none;
    background-color: rgb(212, 212, 212);
    font-size: 25px;
    width: 80%;
    border-radius: 10px;
    padding: 5px 10px;
}
.email{
    margin-top: 20px;
}
.submitBtn{
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid rgb(96, 63, 240);
    border-radius: 20px;
    width: fit-content;
    padding: 5px 20px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(96, 63, 240);
}
.submitBtn:hover{
    transition-duration: .3s;
    color: white;
    background-color:rgb(96, 63, 240) ;
}
