.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: linear-gradient(118deg, rgba(236,235,255,1) 0%, rgba(68,99,190,1) 100%);
}
.eventContainer{
    display: flex;
    justify-content: center;
}
.eventDetails{
    width: 30%;
}
.name{
    font-size: 50px;
    color: rgb(96, 63, 240);
    margin-top: 20px;
    font-weight: 800;
}
.date{
    background-color: rgb(253, 219, 109);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 20px;
    color: rgb(39, 39, 39);
    font-size: 20px;
}
.location{
    font-size: 20px;
    margin-top: 60px;
    display: flex;
}
.heading{
    font-size: 35px;
    color: white;
    font-weight: 900; 
}
.eventImg{
    filter: drop-shadow(1px 1px 6px rgb(65, 65, 65));
}

.schedule{
    color: rgb(96, 63, 240);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;

}
.modal{
    width: fit-content;
    margin-top: 100px;
}