.heading{
    color: white;
    font-size: 18px;
    margin-bottom: 24px;
}
.filters{
    border: 1px solid rgba(103,80,164,0.19931722689075626) ;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(103,80,164,0.19931722689075626) 0%, rgba(103,80,164,0) 100%);
    display: flex;
    color: #808080;
    padding: 20px;
    justify-content: space-between;
}
.leftContainer{
    width: 50%;
}
.rightContainer{
    width: 40%;
}
.categoryFilter{
    border-right: 1px solid grey;
}
.eventFilter{
    border-right: 1px solid grey;
}
.tag{
    display: flex;
    margin-top: 11px;
}
.filterOption{
    margin-bottom: 40px;
}